@import '@/assets/scss/index.scss';

.login {
    a {
        color: $brown;
        cursor: pointer;
        margin-top: 10px;
    }

    h1 {
        border: 1px solid $brown;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        min-width: 350px;
        max-width: 350px;
        color: $black;
        font-weight: 500;
        font-size: 24px;
        text-transform: capitalize;

    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 71px);

    .fields {
        border: 1px solid $brown;
        border-radius: 0 0 5px 5px;
        padding: 20px;
    }

    .inputs {
        @include input;

        .field-digit {
            position: relative;
        }

        input {
            margin: 10px 0;
            margin-top: 5px;
        }


    }


}

.send {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
        @include button;
    }
}