@import '@/assets/scss/index.scss';

.login {
    h1 {
        border: 1px solid $brown;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        border-bottom: none;

    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .fields {
        border: 1px solid $brown;
        border-radius: 0 0 5px 5px;
        padding: 20px;
    }

    .inputs {
        @include input;

        input {
            margin: 10px 0;
            margin-top: 5px;
        }


    }

    .send {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        button {
            @include button;
        }
    }


}